@import url("https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap");
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: white;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  text-transform: uppercase;
  color: black;
  font-size: 4rem;
}
h2 {
  text-transform: uppercase;
  color: black;
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
  line-height: 1.7rem;
}
body::-webkit-scrollbar {
  width: 20px;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background-color: #39455f;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #333e55;
}
/* Header Section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  .header {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    min-height: fit-content;
    transition: 0.4s ease;
    background-color: rgba(0, 0, 0, 0);
    transition-property: padding, background-color;
    .name {
      margin-left: 5rem;
      h1 {
        font-size: 2.5rem;
        color: white;
      }
    }
    .menu-container {
      position: absolute;
      left: 0px;
      top: -100vh;
      width: 100vw;
      height: 100vh;
      background: linear-gradient(
        45deg,
        rgba(19, 24, 33, 1) 0%,
        rgba(57, 69, 95, 1) 100%
      );
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s ease top;
      &.active {
        top: 0vh;
      }
      li {
        color: white;
        font-size: 5rem;
        font-weight: 600;
      }
      .nav-menu li {
        list-style-type: none;
        cursor: pointer;
        margin: 10px 0px;
        text-align: center;
        a {
          transition: 0.3s ease color;
          text-transform: uppercase;
          &:hover {
            color: #bebebe;
          }
        }
      }
    }
  }
  .hamburger {
    position: relative;
    margin-right: 5rem;
    z-index: 5;
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      border: 2px solid white;
      border-radius: 50%;
      animation: anim_hamburger 1.5s infinite;
    }
    span {
      position: relative;
      width: 20px;
      height: 2px;
      background-color: white;
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        transition: 0.3s ease;
        transition-property: top, bottom;
      }
      &::before {
        top: 7px;
      }
      &::after {
        bottom: 7px;
      }
    }
    &.active span::before {
      top: 0px;
    }
    &.active span::after {
      bottom: 0px;
    }
  }
  .hr-container {
    display: none;
  }
}
/* End Header Section */

/* Main Section */
#main {
  background: url("../img/other/background.jpg");
  background-size: cover;
  background-position: top center;
  .main {
    max-width: 1200px;
    justify-content: flex-start;
    margin: 0px auto;
    .inscription {
      margin-left: 15vw;
      font-size: 4.5rem;
      width: fit-content;
      position: relative;
      color: transparent;
      animation: anim_text_color 1.5s ease forwards;
      animation-play-state: paused;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      span {
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 105%;
        height: calc(100% + 10px);
        animation: anim_span 1s ease forwards;
        animation-play-state: paused;
      }
      &:nth-child(2) span,
      &:nth-child(2) {
        animation-delay: 1s;
      }
      &:nth-child(3) span,
      &:nth-child(3) {
        animation-delay: 2s;
      }
      &:nth-child(4) span,
      &:nth-child(4) {
        animation-delay: 3s;
      }
    }
    .img-box {
      width: 45px;
      height: 45px;
      margin-left: 10px;
      img {
        filter: brightness(0) invert(1);
      }
      .repeat-logo {
        animation: anim_logo_rotating 4s infinite;
      }
    }
  }
}
/* End Main Section */

/* About Section */
#about {
  background: linear-gradient(
    45deg,
    rgb(202, 202, 204) 0%,
    rgb(224, 224, 224) 100%
  );
  .about {
    padding: 50px 0px;
    h1 {
      padding-top: 30px;
    }
    .img-box {
      display: none;
    }
    .info-box {
      text-align: center;
      padding: 0px 30px;
      display: flex;
      flex-direction: column;
      p {
        margin: 25px 0px;
      }
      h2 {
        color: black;
      }
      .language-items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }
  }
  .item {
    padding: 20px;
    width: 100px;
    height: 100px;
    img {
      transition: 0.3s ease transform;
      cursor: pointer;
    }
    &:hover img {
      transform: scale(1.15);
    }
  }
}
/* End About Section */

/* School Section */

#school {
  background: linear-gradient(
    45deg,
    rgba(19, 24, 33, 1) 0%,
    rgba(57, 69, 95, 1) 100%
  );
  h1,
  h2 {
    color: white;
  }
  .school {
    flex-direction: column;
    h1 {
      padding-top: 80px;
    }
    .school-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .school-projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
        gap: 2rem;
        .project {
          position: relative;
          cursor: pointer;
          height: 200px;
          width: 90%;
          flex: auto;
          border-radius: 15px;
          overflow: hidden;
          max-width: 40vw;
          transition: 0.4s ease box-shadow;
          .img-box {
            width: 100%;
            height: 100%;
            position: relative;
            box-shadow: 0px 0px 15px 0px rgba(77, 77, 77, 1);
            img {
              transition: 0.4s ease transform;
            }
          }
          h2 {
            color: black;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 15px 0px;
            text-align: center;
            background-color: white;
          }
          &:hover {
            box-shadow: 0px 0px 15px 10px rgba(77, 77, 77, 1);
          }
          &:hover img {
            transform: scale(1.2);
          }
        }
      }
      .school-info {
        max-width: 950px;
        padding: 40px 15px;
        table {
          border-collapse: separate;
          border-spacing: 4px;
          width: 100%;
          font-size: 1.3rem;
          table-layout: fixed;
        }
        .timetable {
          cursor: pointer;
          animation: anim_opacity;
          animation-play-state: paused;
          animation: anim_opacity_back;
        }
        table th,
        table td {
          text-align: center;
          height: 45px;
          color: white;
          background-color: #323d50;
          vertical-align: middle;
        }
        table tr:nth-child(even) td {
          background-color: #2d3547;
        }
        .notes {
          font-size: 2.2rem;
          margin: 80px 0px;
          table-layout: auto;
          th,
          td {
            padding: 5px 9px;
          }
        }
      }
    }
  }
}
/* End School Section */

/* Other Section */
#other {
  background: linear-gradient(
    45deg,
    rgb(202, 202, 204) 0%,
    rgb(224, 224, 224) 100%
  );
  .other {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    .project-container {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 90%;
      .other-item {
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        position: relative;
        row-gap: 1rem;
        &:nth-child(1) {
          background-color: #21759b;
        }
        &:nth-child(2) {
          background-color: #42a2ba;
        }
        &:nth-child(3) {
          background-color: #0678bd;
        }
        &:nth-child(4) {
          background-color: #26c1f0;
        }
        &:nth-child(5) {
          background-color: #305c93;
        }
        &:nth-child(6) {
          background-color: #ed4b23;
        }
        &:nth-child(7) {
          background-color: #85bd3d;
        }
        &:nth-child(8) {
          background-color: #ffbb00;
        }
        &:nth-child(9) {
          background-color: #f48120;
        }
        &:nth-child(10) {
          background-color: #f16124;
        }
        &:nth-child(11) {
          background-color: #9b5c8f;
        }
        h2,
        img {
          transition: 0.4s ease transform;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0px;
          left: 0px;
          background-color: black;
          width: 100%;
          height: 100%;
          opacity: 0.1;
          transition: 0.3s ease opacity;
        }
        &:hover:after {
          opacity: 0;
        }
        &:hover img,
        &:hover h2 {
          transform: scale(1.1);
        }
        h2 {
          font-size: 2.5rem;
          margin-bottom: 3rem;
          color: white;
        }
      }
      .img-box {
        margin-top: 2rem;
        width: 80px;
        height: 80px;
        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

/* End Other Section */

/* Loader */
#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242f3f;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 4rem;
    color: white;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .loader-ball {
      position: relative;
      width: 35px;
      height: 35px;
      border-radius: 50px;
      background-color: #fff;
      transform: scale(0);
      animation: loader-ball 0.4s infinite ease-in alternate;
    }
    .loader-ball:nth-child(2) {
      animation-delay: 0.1s;
    }
    .loader-ball:nth-child(3) {
      animation-delay: 0.2s;
    }
    .loader-ball:nth-child(4) {
      animation-delay: 0.3s;
    }
    .loader-ball:nth-child(5) {
      animation-delay: 0.4s;
    }
  }
}
@keyframes loader-ball {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* End Loader */

/* Footer Section */
#footer .footer {
  min-height: fit-content;
  background: linear-gradient(
    45deg,
    rgba(19, 24, 33, 1) 0%,
    rgba(57, 69, 95, 1) 100%
  );
  padding: 20px 0px 10px 0px;
  flex-direction: column;
  text-align: center;
  p {
    font-weight: 300;
    font-size: 1.3rem;
    color: white;
  }
  p:first-child {
    width: 330px;
    font-weight: 500;
    font-size: 2rem;
  }
  hr {
    width: 90%;
    margin: 20px 0px;
    background-color: white;
  }
}
/* End Footer Section */

/* Media Query For Tablet*/

/* Default */
@media only screen and (min-width: 756px) {
  h1 {
    font-size: 5rem;
  }
}
/* End Default */
/* Main Section */
@media only screen and (min-width: 756px) {
  #main .motto .inscription {
    font-size: 5rem;
  }
  #main .img-box img {
    width: 50px;
    height: 50px;
    top: -22px;
    position: relative;
    top: -3px;
  }
}
/* End Main Section */

/* About Section */
@media only screen and (min-width: 756px) {
  #about {
    .info-box {
      width: 90%;
    }
    .item {
      width: 130px;
      height: 130px;
    }
  }
}
/* End About Section */

/* Other Section*/
@media only screen and (min-width: 756px) {
  #other .other .project-container {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    .other-item {
      margin: 5px 0px;
      &:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/2;
      }
      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 2/4;
      }
      &:nth-child(7) {
        grid-column: 1/3;
        grid-row: 5/6;
      }
      &:nth-child(8) {
        grid-column: 1/2;
        grid-row: 6/8;
      }
      &:nth-child(9) {
        grid-column: 2/3;
        grid-row: 7/9;
      }

      h2 {
        max-width: 80%;
      }
    }
  }
}
/* End Other Section*/

/* Footer Section */
@media only screen and (min-width: 756px) {
  #footer p {
    font-size: 2rem;
    line-height: 2rem;
    &:first-child {
      width: 530px;
      font-size: 3rem;
    }
  }
}
/* End Footer Section */
/* End Media Query For Tablet */

/* Media Query For Desktop */
/* Header Section */
@media only screen and (min-width: 1200px) {
  #header .header {
    h1 {
      font-size: 3rem;
    }
    .menu-container {
      margin-right: 3rem;
      position: relative;
      left: 0px;
      top: 0px;
      width: fit-content;
      height: 100%;
      background: transparent;
      flex-direction: column;
      .nav-menu {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        li {
          padding: 0px 0px;
          cursor: pointer;
          margin: 0px 0px;
          text-align: center;
          font-size: 3rem;
          width: 13vw;
          a {
            padding: 0px 0px;
          }
        }
      }
      .hr-container {
        display: block;
        width: 100%;
        hr {
          width: 25%;
          border: 2px solid white;
          background: white;
          border-radius: 5px;
          margin: 0px;
          transition: 0.4s ease margin;
        }
      }
    }
    .hamburger {
      display: none;
    }
  }
}
/* End Header Section */

/* Main Section */
@media only screen and (min-width: 1200px) {
  #main .main {
    .motto .inscription {
      font-size: 7rem;
    }
    .img-box {
      margin-left: 15px;
      img {
        width: 70px;
        height: 70px;
        top: -10px;
      }
    }
    .inscription {
      margin-left: 4vw;
      width: fit-content;
      padding-right: 20px;
    }
  }
}
/* End Main Section */

/* About Section */
@media only screen and (min-width: 1200px) {
  #about .about {
    align-items: flex-end;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    .img-box {
      display: flex;
      width: 55vh;
      transform: scaleX(-1);
      img {
        filter: drop-shadow(0px 70px 70px black);
      }
    }
    .info-box {
      max-width: 750px;
      margin: 0px;
      padding: 0px;
      p {
        font-size: 2rem;
        line-height: 2.4rem;
      }
      h2 {
        font-size: 2.8rem;
      }
    }
    .language-items .item {
      width: 7vw;
      height: 7vw;
      max-width: 150px;
      max-height: 150px;
    }
  }
}
/* End About Section */

/* School Section */
@media only screen and (min-width: 1200px) {
  #school .school {
    h1 {
      padding: 0px;
      margin-top: 100px;
    }
    .school-container {
      flex-direction: row;
      justify-content: space-evenly;
      .school-info {
        max-width: 45%;
        padding: 0px;
        table tr {
          td,
          th {
            height: 55px;
          }
        }
        .timetable {
          font-size: 1.9rem;
        }
        .notes {
          margin: 20px 0px 0px 0px;
        }
      }

      .school-projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 45%;
        .project {
          padding: 0px;
          margin: 0px auto;
          min-width: 200px;
          flex-basis: 45%;
        }
      }
    }
  }
}
/* End School Section */

/* Other Section */
@media only screen and (min-width: 1200px) {
  #other .other {
    padding: 0px;
    h1 {
      margin-top: 40px;
      padding: 0px;
    }
    .project-container {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: unset;
      grid-auto-rows: 180px;
      .other-item {
        h2 {
          font-size: 2.2rem;
        }
        &:nth-child(1) {
          grid-column: unset;
          grid-row: unset;
        }
        &:nth-child(2) {
          grid-column: unset;
          grid-row: unset;
        }
        &:nth-child(5) {
          grid-column: 5/6;
          grid-row: 1/3;
        }
        &:nth-child(7) {
          grid-column: 3/5;
          grid-row: 2/3;
        }
        &:nth-child(8) {
          grid-column: unset;
          grid-row: unset;
        }
        &:nth-child(9) {
          grid-column: unset;
          grid-row: unset;
        }
        &:nth-child(10) {
          grid-column: 2/3;
          grid-row: 2/4;
        }
        &:nth-child(11) {
          grid-column: 4/6;
          grid-row: 3/4;
        }
      }
    }
  }
}
/* End Other Section */

/* End Media Query For Desktop */

/* Keyframes */
@keyframes anim_span {
  0% {
    width: 105%;
    left: 0%;
  }
  100% {
    width: 0%;
    left: 105%;
  }
}
@keyframes anim_text_color {
  0% {
    color: transparent;
  }
  100% {
    color: white;
  }
}
@keyframes anim_logo_rotating {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes anim_opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes anim_opacity_back {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim_hamburger {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 150%;
    width: 150%;
  }
}
/* End Keyframes */
